<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Jun 05 2018 03:20:47 GMT+0000 (UTC)  -->
<html data-wf-page="5b133101d0d5fea6fcf1d9d5" data-wf-site="5ad29e220f7efd46f5f27c27">
<%= render 'layouts/header' %>
<body class="body">
  <div data-animation="over-left" class="navbar w-nav" data-easing2="ease-out" data-easing="ease-out" data-collapse="all" data-no-scroll="1" data-duration="300" data-doc-height="1">
    <nav role="navigation" class="nav-menu-container w-nav-menu"><a href="#" class="close-menu">← Retour</a><a href="accueil" class="nav-link w-nav-link" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/'" >accueil</a><a href="contact" class="nav-link w-nav-link" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/contact'">Contact</a><a href="bio" class="nav-link w-nav-link w--current" onclick="window.location.href = 'https://calvin-triqueneaux.herokuapp.com/bio'">a propos</a></nav>
    <div class="fake-menu-bar"></div>
    <div class="menu-button w-nav-button">
      <div class="menu-icon w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="subpage-header">
    <div class="w-container">
      <h2 data-w-id="355ad66c-12de-0b1a-a900-e14652ae3cde" style="opacity:0;-webkit-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)" class="header-title">Heureux de vous rencontrer.</h2>
      <h2 data-w-id="cdfcd0e9-9049-c997-8ad4-b9f8d0aea39c" style="opacity:0;-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.8) scaleY(0.8) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.8) scaleY(0.8) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.8) scaleY(0.8) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0.8) scaleY(0.8) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)" class="header-title _2">Un petit peu plus sur moi..</h2>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <div class="row-3 w-row">
        <div class="image-column w-col w-col-6"></div>
        <div class="right-column w-col w-col-6">
          <h1 class="section-title _2">biographie</h1>
          <h1 class="section-title">mon parcours</h1>
          <p class="paragraph-5">Suite à l&#x27;obtention de mon bac S option informatique, je suis allé en prépa MPSI, puis MP option informatique entre 2015 et 2017. <br>Pendant le mois d’août 2017, j’ai passé le concours de l’école 42, que j’ai réussi. <br>A la suite de cela, ayant également réussi mes concours aux grandes écoles à la fin de ma prépa, je suis allé en école d’actuariat à Strasbourg. <br>Cependant, cela ne me convenait pas alors j’ai tout arrêté pour me lancer en tant que freelance dans mon domaine favori, l’informatique.<br>De plus, en attendant ma rentrée à 42, j&#x27;ai effectué la formation de The Hacking Project.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content game">
    <div class="container w-container">
      <h2 class="header-title">ce que je fais de mon temps libre?</h2>
      <p class="big-paragraph">Lorsque je ne travaille pas pour des clients, je code. Encore et toujours.<br>J&#x27;apprend des nouveaux langages / frameworks, j&#x27;en perfectionne d&#x27;autres, etc..<br>Pour cela, CodinGame est un site que j&#x27;apprécie énormément.<br>Je suis d&#x27;ailleurs assez fier de mon classement sur celui-ci.<br>Si vous le désirez, vous pouvez voir mon profil en cliquant ci dessous<br>↓↓↓</p><a href="https://www.codingame.com/profile/bc9723d362c929d55b5f66013583b2a87692081" class="button">codingame</a></div>
  </div>
  <div class="profile-content">
    <div class="w-container">
      <div class="section-work-block center">
        <h3 class="section-title _2">Langages</h3>
        <h3 class="section-title center">mes competences</h3>
      </div>
      <div class="row w-row">
        <div class="w-col w-col-4"><%= image_set_tag 'CSS3_and_HTML5_logos_and_wordmarks.svg.png', { 
          'CSS3_and_HTML5_logos_and_wordmarks.svg-p-500.png'  => '500w', 
          'CSS3_and_HTML5_logos_and_wordmarks.svg-p-800.png' => '800w', 
          'CSS3_and_HTML5_logos_and_wordmarks.svg-p-1080.png' => '1080w', 
          'CSS3_and_HTML5_logos_and_wordmarks.svg-p-1600.png' => '1600w'
               }, width: "900", sizes: '(max-width: 479px) 92vw, (max-width: 767px) 300px, (max-width: 991px) 229.328125px, 299.984375px', class: 'image-3', 'data-w-id' => "b5492a98-56bd-856b-8a26-6a36c814e190" %></div>
        <div class="w-col w-col-2"><%= image_set_tag '2000px-Unofficial_JavaScript_logo_2.svg.png', { 
          '2000px-Unofficial_JavaScript_logo_2.svg-p-500.png'  => '500w', 
          '2000px-Unofficial_JavaScript_logo_2.svg-p-800.png' => '800w', 
          '2000px-Unofficial_JavaScript_logo_2.svg-p-1080.png' => '1080w', 
          '2000px-Unofficial_JavaScript_logo_2.svg-p-1600.png' => '1600w'
               }, width: "900", sizes: '(max-width: 767px) 150px, (max-width: 991px) 104.65625px, 139.984375px', class: 'image-2', 'data-w-id' => "03b464c9-aa1d-194d-f6a5-eb8d9e94b865" %></div>
        <div class="w-col w-col-2"><%= image_set_tag '2000px-Ruby_logo.svg.png', { 
                 '2000px-Ruby_logo.svg-p-500.png'  => '500w', 
                 '2000px-Ruby_logo.svg-p-800.png' => '800w', 
                 '2000px-Ruby_logo.svg-p-1080.png' => '1080w', 
                 '2000px-Ruby_logo.svg-p-1600.png' => '1600w'
               }, width: "900", sizes: '(max-width: 767px) 150px, (max-width: 991px) 104.65625px, 139.984375px', class: 'image-2', 'data-w-id' => "005db3a9-1839-0d88-7c54-cbd2791b6824" %></div>
        <div class="w-col w-col-4"><%= image_set_tag 'Ruby_On_Rails_Logo.svg.png', { 
                 'Ruby_On_Rails_Logo.svg-p-500.png'  => '500w', 
                 'Ruby_On_Rails_Logo.svg-p-800.png' => '800w', 
                 'Ruby_On_Rails_Logo.svg-p-1080.png' => '1080w'
               }, width: "900", sizes: '(max-width: 479px) 92vw, (max-width: 767px) 300px, (max-width: 991px) 229.328125px, 299.984375px', class: 'image-3', 'data-w-id' => "2317d187-a133-8316-4193-0db777543461" %></div>
      </div>
      <div class="row _2 w-row">
        <div class="w-col w-col-2"><%= image_set_tag 'Python.svg.png', { 
                 'Python.svg-p-500.png'  => '500w', 
                 'Python.svg-p-800.png' => '800w'
               }, width: "900", sizes: '(max-width: 767px) 150px, (max-width: 991px) 104.65625px, 139.984375px', class: 'image-2', style:"-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(-720DEG) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(-720DEG) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(-720DEG) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(-720DEG) rotateZ(0) skewX(0) skewY(0);transform-style:preserve-3d", 'data-w-id' => "a7622332-ae6d-d461-8eaa-10321282bf62" %></div>
        <div class="w-col w-col-2"><%= image_tag("Boostrap_logo.svg", class: "image-2", 'data-w-id' => "a7622332-ae6d-d461-8eaa-10321282bf64") %></div>
        <div class="w-col w-col-2"><%= image_set_tag 'C_plus_plus.svg.png', { 
                 'C_plus_plus.svg-p-500.png'  => '500w', 
                 'C_plus_plus.svg-p-800.png' => '800w'
               }, width: "900", sizes: '(max-width: 767px) 150px, (max-width: 991px) 104.65625px, 139.984375px', class: 'image-2', 'data-w-id' => "7b55ed54-6e28-d1f1-3d73-0cda2c6530a3" %></div>
        <div class="w-col w-col-6"><%= image_set_tag 'OCaml_Logo.svg.png', { 
                 'OCaml_Logo.svg-p-500.png'  => '500w', 
                 'OCaml_Logo.svg-p-800.png' => '800w', 
                 'OCaml_Logo.svg-p-1080.png' => '1080w', 
                 'OCaml_Logo.svg-p-1600.png' => '1600w'
               }, width: "900", sizes: '(max-width: 479px) 94vw, (max-width: 767px) 450px, (max-width: 991px) 354px, 450px', class: 'image-4', style:"-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(720DEG) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(720DEG) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(720DEG) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(720DEG) rotateZ(0) skewX(0) skewY(0);transform-style:preserve-3d", 'data-w-id' => "a7622332-ae6d-d461-8eaa-10321282bf66" %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/pub' %>
  <%= render 'layouts/footer' %>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>