<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri May 25 2018 15:28:57 GMT+0000 (UTC)  -->
<html data-wf-page="5ad628a5c5831df1c70f8588" data-wf-site="5ad29e220f7efd46f5f27c27">
<%= render 'layouts/header' %>
<body class="body">
  <%= render 'layouts/navbar' %>
  <div class="subpage-header">
    <div class="w-container">
      <h2 data-w-id="355ad66c-12de-0b1a-a900-e14652ae3cde" style="opacity:0;-webkit-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(-10PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)" class="header-title">Vous avez des questions?</h2>
      <h2 data-w-id="cdfcd0e9-9049-c997-8ad4-b9f8d0aea39c" style="opacity:0;-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.😎 scaleY(0.😎 scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.😎 scaleY(0.😎 scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0.😎 scaleY(0.😎 scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0.😎 scaleY(0.😎 scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)" class="header-title _2">N&#x27;hesitez pas a me contacter !</h2>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <div class="w-form">
        <%= form_for @contact, {:class=>'contact-form', :id=>'email-form', 'data-name'=>'Email Form'} do |f| %>
          <%= f.label :email, :class=>'field-label', :style=>"opacity:0", "data-w-id"=>"b97d8d24-4c02-007d-bd67-083b1a38143a" %><br>
          <%= f.email_field :email, required: true, "data-w-id"=>"693528e5-90d3-e2f3-a80a-366459ba5e30", :style=>"opacity:0", :class=>"field w-input", :placeholder=>"Entrez votre email..." %><br>
          <%= f.label :name, :class=>'field-label', :style=>"opacity:0", "data-w-id"=>"b13e1b18-e3e4-dc3a-7e08-b2c1be9a8ae3" %><br>
          <%= f.text_field :name, required: true, "data-w-id"=>"50230894-fe78-0bc5-f473-b083bba31c9c", :style=>"opacity:0", :class=>"field w-input", :placeholder=>"Entrez votre nom..." %><br>
          <%= f.label :phone, :class=>'field-label', :style=>"opacity:0", "data-w-id"=>"584ecdca-ea73-262e-368b-904cb6b86464" %><br>
          <%= f.text_field :phone, "data-w-id"=>"36100bb6-83d4-ec16-e156-e078eee8b9fb", :style=>"opacity:0", :class=>"field w-input", :placeholder=>"Entrez votre numéro de téléphone..." %><br>
          <%= f.label :message, as: :text, :class=>'field-label', :style=>"opacity:0", "data-w-id"=>"13f7538b-691a-4111-f0e9-479b8a91695b" %><br>
          <%= f.text_area :message, required: true, "data-w-id"=>"7f887e12-377c-1eda-8104-afb7dad21bc3", :style=>"opacity:0", :class=>"field w-input", :placeholder=>"Que puis-je pour vous?" %><br>
          <div style="text-align:center">
            <%= f.submit 'CONTACTER', :class=>'button w-button', 'data-wait'=>"Veuillez patienter s&#x27;il vous plaît....", 'data-w-id'=>'33926e29-5a0d-19ea-bee8-e26f7d6464d5', :style=>'opacity:0' %>
          </div>
        <% end %>
        <div class="w-form-done">
          <div>Merci ! Votre email a bien été envoyé. Je viendrai vers vous dans peu de temps.</div>
        </div>
        <div class="w-form-fail">
          <div>Mince ! Un problème est survenu. Vous pouvez tout de même me contacter à l'adresse : calvin8313@hotmail.fr</div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>